extends layout
block content
  -
    function convertFactionToIcon(faction) {
      if(faction == 'Haas-Bioroid') return 'icon-haas-bioroid'
      if(faction == 'Jinteki') return 'icon-jinteki-simple'
      if(faction == 'Weyland Consortium') return 'icon-weyland-consortium'
      if(faction == 'NBN') return 'icon-nbn'

      if(faction == 'Shaper') return 'icon-shaper-smooth'
      if(faction == 'Criminal') return 'icon-criminal'
      if(faction == 'Anarch') return 'icon-anarch'

      if(faction == 'Apex') return 'icon-apex'
      if(faction == 'Adam') return 'icon-adam'
      if(faction == 'Sunny') return 'icon-sunny'
    }

  h1 Tracking #{name}

  .players
    table
      thead
        tr
          td Pos
          td Name
          td Corp
          td Runner
          td Points
          td Sos
      tbody
        each player, i in structure.players
          -
            var weight = (player.name === name) ? "font-weight: bold" : "font-weight: normal"

          tr(style=weight)
            td= i+1
            td= player.name
            td
              i(class= convertFactionToIcon(player.corpfaction))
              span= player.corpid
            td
              i(class= convertFactionToIcon(player.runnerfaction))
              span= player.runnerid
            td= player.points
            td= player.sos

  .rounds
    each round, i in structure.rounds
      h4 Round #{i+1}
      table
        thead
          tr
            td Table
            td Player 1
            td Player 2
            td Outcome
        tbody
          each match in round.matches
            tr
              td= match.table
              td
                i(class= convertFactionToIcon(match.player1.corpfaction))
                i(class= convertFactionToIcon(match.player1.runnerfaction))
                span= match.player1.name
                td
                  i(class= convertFactionToIcon(match.player2.corpfaction))
                  i(class= convertFactionToIcon(match.player2.runnerfaction))
                  span= match.player2.name
              td #{match.score1} : #{match.score2}
